<ng-select class="custom" placeholder="Who are you?..">
    <ng-option value="4">Individual</ng-option>
    <ng-option value="1">Corporate</ng-option>
    <ng-option value="3">State Agency</ng-option>
    <ng-option value="5">Federal Agency</ng-option>
</ng-select>
