
<app-website-bg-half [props]="breadCrumbs"></app-website-bg-half>

<section class="section pt-0 bg-light">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 p-0">
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d6030.418742494061!2d-111.34563870463673!3d26.01036670629853!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2smx!4v1471908546569" style="border: 0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="container mt-100 mt-60">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <div class="contact-item mt-40">
                    <div class="float-left">
                        <div class="contact-icon d-inline-block border rounded-pill shadow text-primary mt-1 mr-4">
                            <i class="mdi mdi-earth"></i>
                        </div>
                    </div>
                    <div class="contact-details">
                        <h4 class="text-dark mb-1">Website</h4>
                        <p class="mb-0 text-muted">Brandcode Pvt.Ltd.co.in</p>
                        <p class="mb-0 text-muted">Themescode Pvt.Ltd.co.in</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="contact-item mt-40">
                    <div class="float-left">
                        <div class="contact-icon d-inline-block border rounded-pill shadow text-primary mt-1 mr-4">
                            <i class="mdi mdi-cellphone-iphone"></i>
                        </div>
                    </div>
                    <div class="contact-details">
                        <h4 class="text-dark mb-1">Call us</h4>
                        <p class="mb-0 text-muted">123 456 7890</p>
                        <p class="mb-0 text-muted">123 456 7890</p>
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="contact-item mt-40">
                    <div class="float-left">
                        <div class="contact-icon d-inline-block border rounded-pill shadow text-primary mt-1 mr-4">
                            <i class="mdi mdi-email"></i>
                        </div>
                    </div>
                    <div class="contact-details">
                        <h4 class="text-dark mb-1">Email</h4>
                        <p class="mb-0 text-muted">Themescodeltd@gmail.com</p>
                        <p class="mb-0 text-muted">Brandcodeltd@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h4 class="text-dark mb-0">Get In Touch :</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-8 col-md-7 mt-4 pt-2">
                <div class="custom-form rounded border p-4">
                    <div id="message"></div>
                    <form method="post" name="contact-form" id="contact-form">
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="form-group app-label">
                                    <label class="text-muted">Name</label>
                                    <input name="name" id="name2" type="text" class="form-control resume" placeholder="Enter Name..">
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="form-group app-label">
                                    <label class="text-muted">Email address</label>
                                    <input name="email" id="email1" type="email" class="form-control resume" placeholder="Enter Email..">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group app-label">
                                    <label class="text-muted">Subject</label>
                                    <input type="text" class="form-control resume" id="subject" placeholder="Subject..">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <div class="form-group app-label">
                                    <label class="text-muted">Message</label>
                                    <textarea name="comments" id="comments" rows="5" class="form-control resume" placeholder="Message.."></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <input type="submit" id="submit" name="send" class="submitBnt btn btn-primary" value="Send Message">
                                <div id="simple-msg"></div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-lg-4 col-md-5 mt-4 pt-2">
                <div class="border rounded text-center p-4">
                    <h5 class="text-dark pb-3">Contact Info</h5>
                    <div class="contact-location rounded mt-5 p-4">
                        <div class="contact-location-icon bg-white text-primary rounded-pill">
                            <i class="mdi mdi-map-marker"></i>
                        </div>
                        <p class="text-muted pt-4 f-20 mb-0">2453 Clinton StreetLittle Rock, AR 72211</p>
                    </div>
                    <h6 class="text-muted mt-4 mb-0">Share</h6>
                    <ul class="list-unstyled social-icon mt-3 mb-0">
                        <li class="list-inline-item"><a href="#" class=""><i class="mdi mdi-facebook"></i></a></li>
                        <li class="list-inline-item"><a href="#" class=""><i class="mdi mdi-twitter"></i></a></li>
                        <li class="list-inline-item"><a href="#" class=""><i class="mdi mdi-whatsapp"></i></a></li>
                        <li class="list-inline-item"><a href="#" class=""><i class="mdi mdi-instagram"></i></a></li>
                        <li class="list-inline-item"><a href="#" class=""><i class="mdi mdi-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5">
                <div class="float-left position-relative notification-icon mr-2">
                    <i class="mdi mdi-bell-outline text-primary"></i>
                    <span class="badge badge-pill badge-danger">1</span>
                </div>
                <h5 class="mt-2 mb-0">Your Job Notification</h5>
            </div>
            <div class="col-lg-8 col-md-7 mt-4 mt-sm-0">
                <form>
                    <div class="form-group mb-0">
                        <div class="input-group mb-0">
                            <input name="email" id="email" type="email" class="form-control" placeholder="Your email :" required="" aria-describedby="newssubscribebtn">
                            <div class="input-group-append">
                                <button class="btn btn-primary submitBnt" type="submit" id="newssubscribebtn">Subscribe</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
