<section class="bg-half page-next-level">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="text-center text-white">
                    <h4 class="text-uppercase title mb-4">{{props?.title}}</h4>
                    <ul class="page-next d-inline-block mb-0">
                        <ng-container *ngIf="props.crumbs.length">
                            <li *ngFor="let crumb of props.crumbs; let i =index">
                                <a class="text-uppercase font-weight-bold"> {{i>0?'»':''}} {{crumb.title}}</a>
                            </li>
                        </ng-container>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
