<app-website-bg-half [props]="breadCrumbs"></app-website-bg-half>

<section class="section pt-5">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-12 col-md-6 pt-2">
                <div class="d-flex bg-light-warning rounded border-warning border border-dashed p-3">
                    <i class="mdi mdi-information"></i>
                    <div class="d-flex flex-stack flex-grow-1">
                        <div class="font-weight-bold">
                            <!--  <h4 class="text-gray-800 font-weight-bolder">Attention!</h4>-->
                            <div class="fs-6 text-gray-600">
                                <h5>
                                    You can use bank Transfer or Pay Online
                                </h5>

                            </div>
                        </div>
                    </div>
                </div>

                <div class="custom-form  mt-3 ">
                    <div class="row">
                        <div class="col-md-7">
                            <ng-template>
                                <div class="col-lg-12">
                                    <h3 class="form-title">
                                        <span>Invoice Number: </span> <span class="ml-2">1000973781</span>
                                        <span class="end">
                                        <a class="highlight-right">View Invoice</a>
                                        <a class="highlight-right">Export PDF <i class="mdi mdi-file-pdf-box"></i> </a>
                                    </span>
                                    </h3>
                                </div>
                            </ng-template>
                            <div class="col-lg-12 p-0">
                                <div class="card mb-5 mb-xl-10">
                                    <div class="card-header cursor-pointer">
                                        <div class="card-title m-0 position-relative">
                                            <h5 class="font-weight-bolder m-0">
                                                Invoice Number:
                                                <span class="end">#9032902291092</span>
                                            </h5>
                                        </div>
                                        <div class="card-title-end pr-3">
                                            <span>View Invoice</span>
                                        </div>
                                    </div>

                                    <div class="card-body">
                                        <div class="row mb-4">
                                            <label class="col-lg-4 font-weight-bold text-muted">Full Name</label>
                                            <div class="col-lg-8">
                                                <span class="font-weight-bold fs-6 text-dark">Max Smith</span>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <label class="col-lg-4 font-weight-bold text-muted">Payer ID</label>
                                            <div class="col-lg-8 fv-row">
                                                <span class="font-weight-bold fs-6">903290AH</span>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <label class="col-lg-4 font-weight-bold text-muted">Contact Phone</label>
                                            <div class="col-lg-8 d-flex align-items-center">
                                                <span class="font-weight-bold fs-6 me-2">+234 3276 454 935</span>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <label class="col-lg-4 font-weight-bold text-muted">MDA Profile</label>
                                            <div class="col-lg-8">
                                                <span class="font-weight-bold fs-6 text-dark text-hover-primary">COLLEGE OF
                                                    MIDWIFERY, MINNA | 0517021001</span>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <label class="col-lg-4 font-weight-bold text-muted">Revenue Head</label>
                                            <div class="col-lg-8">
                                                <span class="font-weight-bold fs-6 text-dark">Admission Department</span>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <label class="col-lg-4 font-weight-bold text-muted">External Ref. Number</label>
                                            <div class="col-lg-8">
                                                <span class="font-weight-bold fs-6 text-dark">2892-209021-29012GN</span>
                                            </div>
                                        </div>
                                        <div class="row mb-4">
                                            <label class="col-lg-4 font-weight-bold text-muted">Tin</label>
                                            <div class="col-lg-8">
                                                <span class="font-weight-bold fs-6">93902-2903-OPS</span>
                                            </div>
                                        </div>

                                        <div class="row mb-4">
                                            <label class="col-lg-4 font-weight-bold text-muted">Remitta Code (RRR)#: </label>
                                            <div class="col-lg-8">
                                                <span class="font-weight-bold fs-6">340008271998</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-5 ">
                            <div class="flex-row-auto w-md-380px pl-lg-0 pr-lg-0 pl-2 pr-2">
                                <div class="rounded-lg border border-dashed p-8 mb-8">
                                    <div class="amount-to-pay ml-5 mt-5">
                                        <h5 class="font-weight-bolder m-0">Amount To Pay </h5>

                                        <input type="text" class="form-control amount-input mb-2 mt-3 mr-sm-2"
                                               style="margin-left:0px" placeholder="40,000" readonly="" value="₦10.00">


                                        <p style="font-size: 12px"><span class="icon">i</span>Part payment is not
                                            allowed
                                            for this invoice</p>
                                        <div class="mb-5 mt-4">
                                            <a class="btn btn-primary btn-lg" (click)="makePayment()">Pay Now
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
