
span .amount-to-pay {
    color: #333333;
    font-size: 16px;
    font-weight: 500;
    line-height: 19px;
}

.icon {
    color: #ffffff;
    font-size: 10px;
    background-color: orange;
    display: inline-block;
    height: 14px;
    width: 14px;
    text-align: center;
    border-radius: 100%;
    margin-right: 5px;
}


.amount{
    color: #333333;
    font-size: 20px;
    font-weight: 700;
    line-height: 30px;
}

.amount-input{
    display: inline-block;
    min-width: auto;
    width: auto;
    height: 50px;
    margin-left: 10px;
    border: 1.5px solid #C6C6C6;
    background-color: #f4f4f4;
    font-size: 20px;
    font-weight: 600;
}


.card-title-end{
    position: absolute;
    right: 0;
    top: 20px;
    color: #E12222;
    font-size: 14px;
    font-weight: 500;
}
