
<section class="bg-home" style="background: url('assets/website-assets/images/city/lagos-city.jpg') center center;">
    <div class="bg-overlay"></div>
    <div class="home-center">
        <div class="home-desc-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="title-heading text-center text-white">
                            <h6 class="small-title text-uppercase text-light mb-3 text-space-3">Lagos State Central Billing Portal</h6>
                            <h1 class="heading font-weight-bold mb-4">The Easiest Way to Pay Your Tax and Bills.</h1>
                        </div>
                    </div>
                </div>
                <div class="home-form-position">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="home-registration-form p-4 mb-3">
                                <form class="registration-form">
                                    <div class="row">
                                        <div class="col-lg-6 col-md-6">
                                            <div class="registration-form-box">
                                                <i class="fa fa-briefcase"></i>
                                                <app-bills-search-scroll></app-bills-search-scroll>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-3">
                                            <div class="registration-form-box">
                                                <i class="fa fa-location-arrow"></i>
                                                <app-bills-tax-entity-category></app-bills-tax-entity-category>
                                            </div>
                                        </div>

                                        <div class="col-lg-3 col-md-3 mg-t-5">
                                            <div class="registration-form-box">
                                                <input type="submit" id="submit" name="send" class="submitBnt btn btn-primary btn-block" value="Generate Invoice">
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title title-line pb-5">How It Work</h4>
                    <p class="text-muted para-desc mx-auto mb-1">
                        Easy, convenient and secure way to pay all taxes or bills owed to the Lagos state government. <br>
                        Pay your tax and other state services in 3 simple steps</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 mt-4 pt-2">
                <div class="how-it-work-box bg-light p-4 text-center rounded shadow">
                    <div class="how-it-work-img position-relative rounded-pill mb-3">
                        <img src="assets/website-assets/images/steps/1.svg" alt="" class="mx-auto d-block mt-1" height="60">
                    </div>
                    <div>
                        <h5>Search For Tax or Bill</h5>
                        <p class="text-muted">Use the search box to search for the service or tax type you want to pay</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-4 pt-2">
                <div class="how-it-work-box bg-light p-4 text-center rounded shadow">
                    <div class="how-it-work-img position-relative rounded-pill mb-3">
                        <img src="assets/website-assets/images/steps/2.svg" alt="" class="mx-auto d-block mt-1" height="60">
                    </div>
                    <div>
                        <h5>Choose Your Identity</h5>
                        <p class="text-muted">Use the dropdown field to select who you are</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mt-4 pt-2">
                <div class="how-it-work-box bg-light p-4 text-center rounded shadow">
                    <div class="how-it-work-img position-relative rounded-pill mb-3">
                        <img src="assets/website-assets/images/steps/3.svg" alt="" class="mx-auto d-block mt-1" height="60">
                    </div>
                    <div>
                        <h5> Make Payment</h5>
                        <p class="text-muted">Follow the screen instructions to generate invoice and proceed to make payment.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title title-line pb-5">Pay Your Taxes</h4>
                    <p class="text-muted para-desc mx-auto mb-1">Carryout your civic responsibility, Let's build
                        Lagos state together.</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-6 mt-4 pt-2">
                <a href="javascript:void(0)">

                    <div class="popu-category-box bg-light rounded text-center p-4 h-300">
                        <div class="popu-category-icon mb-3">
                            <i class="mdi mdi-account d-inline-block rounded-pill h3 text-primary"></i>
                        </div>
                        <div class="popu-category-content">
                            <h5 class="mb-2 text-dark title">SELF SERVICE
                            </h5>
                            <p class="mb-0 text-dark rounded text-align-justify">
                                Sign in or register to pay bills or taxes as an Individual, corporate, state agency or federal agency.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 pt-2">
                <a href="javascript:void(0)">
                    <div class="popu-category-box bg-light rounded text-center p-4 h-300">
                        <div class="popu-category-icon mb-3">
                            <i class="mdi mdi-desktop-classic d-inline-block rounded-pill h3 text-primary"></i>
                        </div>
                        <div class="popu-category-content">
                            <h5 class="mb-2 text-dark title">PAY TAXES AND SERVICES</h5>
                            <p class="text-dark mb-0 rounded text-align-justify">
                                You can pay for taxes , services or bills such as PAYE, Land use charge Vehicle registration, Withholding tax, Business premises, Capital gain tax, Waste management, etc.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 pt-2">
                <a href="javascript:void(0)">
                    <div class="popu-category-box bg-light rounded text-center p-4 h-300">
                        <div class="popu-category-icon mb-3">
                            <i class="mdi mdi-bank d-inline-block rounded-pill h3 text-primary"></i>
                        </div>
                        <div class="popu-category-content">
                            <h5 class="mb-2 text-dark title">MULTIPLE PAYMENT CHANNELS</h5>
                            <p class="text-dark mb-0 rounded text-align-justify">
                                Enjoy a faster and easier way to pay taxes or bills. Payments can be made against an invoice at any bank branch or online payments with debits cards (POS, Verve, Visa, or MasterCard)
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 pt-2">
                <a href="javascript:void(0)">
                    <div class="popu-category-box bg-light rounded text-center p-4 h-300">
                        <div class="popu-category-icon mb-3">
                            <i class="mdi mdi-auto-fix d-inline-block rounded-pill h3 text-primary"></i>
                        </div>
                        <div class="popu-category-content">
                            <h5 class="mb-2 text-dark title">CONVENIENCE AND EASE</h5>
                            <p class="text-dark mb-0 rounded text-align-justify">
                                Access, validate and pay your bills online, at your convenience. You now have your tax office in the comfort of your desk or your mobile device.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 pt-2">
                <a href="javascript:void(0)">
                    <div class="popu-category-box bg-light rounded text-center p-4 h-300">
                        <div class="popu-category-icon mb-3">
                            <i class="mdi mdi-office-building d-inline-block rounded-pill h3 text-primary"></i>
                        </div>
                        <div class="popu-category-content">
                            <h5 class="mb-2 text-dark title">PAYMENT TRANSACTION RECORDS</h5>
                            <p class="text-dark mb-0 rounded text-align-justify">
                                View your tax information and payment history over a period of time.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-lg-4 col-md-6 mt-4 pt-2">
                <a href="javascript:void(0)">
                    <div class="popu-category-box bg-light rounded text-center p-4 h-300">
                        <div class="popu-category-icon mb-3">
                            <i class="mdi mdi-television-guide d-inline-block rounded-pill h3 text-primary"></i>
                        </div>
                        <div class="popu-category-content">
                            <h5 class="mb-2 text-dark title">LEARN MORE</h5>
                            <p class="text-dark mb-0 rounded text-align-justify">
                                We are here to help you understand how to pay your bills or taxes with ease. Click <button class="btn btn-sm btn-primary">Here</button> for help
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>

        <div class="row justify-content-center">
            <div class="col-12 text-center mt-4 pt-2">
                <a href="javascript:void(0)" class="btn btn-primary-outline">Generate Invoice / Make Payment <i class="mdi mdi-chevron-right"></i></a>
            </div>
        </div>
    </div>
</section>
