<app-website-bg-half [props]="breadCrumbs"></app-website-bg-half>

<section class="section pt-5">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8 col-md-7 pt-2">
                <h4 class="font-weight-bold  mb-0">Kindly fill in the following details to proceed</h4>
                <div class="custom-form rounded border mt-3 p-4">
                    <form>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group app-label">
                                    <label class="text-black text-18">Who Are You?</label>
                                    <div class="p-2">
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <div class="form-group">
                                                <input type="radio" id="customRadio1" name="customRadio" class="custom-control-input">
                                                <label class="custom-control-label" for="customRadio1">Individual</label>
                                            </div>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <div class="form-group">
                                                <input type="radio" id="customRadio2" name="customRadio" class="custom-control-input">
                                                <label class="custom-control-label" for="customRadio2">Corporate</label>
                                            </div>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <div class="form-group">
                                                <input type="radio" id="customRadio3" name="customRadio" class="custom-control-input">
                                                <label class="custom-control-label" for="customRadio3">State Agency</label>
                                            </div>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <div class="form-group">
                                                <input type="radio" id="customRadio4" name="customRadio" class="custom-control-input">
                                                <label class="custom-control-label" for="customRadio4">Federal Agency</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group app-label">
                                    <label class="text-black">Select Profile You Want To Pay For?</label>
                                   <app-bills-search-scroll></app-bills-search-scroll>
                                </div>
                            </div>

                            <div class="col-lg-12 mt-3">
                                <div class="form-group app-label">
                                    <label class="text-black">What Do You Want To Pay For?</label>
                                   <app-bills-search-scroll></app-bills-search-scroll>
                                </div>
                            </div>

                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-12">
                                <a routerLink="/confirm-details"  class="btn btn-primary btn-lg w-100">Preview Details</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

<!--            <div class="col-lg-4 col-md-5 mt-4 pt-2">-->
<!--                <div class="border rounded text-center p-4">-->
<!--                    <h5 class="text-dark pb-3">Need Help ?</h5>-->
<!--                    <div class="contact-location rounded mt-5 p-4">-->
<!--                        <div class="contact-location-icon bg-white text-primary rounded-pill">-->
<!--                            <i class="mdi mdi-36px mdi-account-alert"></i>-->
<!--                        </div>-->
<!--                        <p class="text-muted pt-4 f-20 mb-0">Contact Support For Help</p>-->
<!--                    </div>-->
<!--                    <h6 class="text-muted mt-4 mb-0">Use the live chat channel to talk to someone: </h6>-->
<!--                    <ul class="list-unstyled social-icon mt-3 mb-0">-->
<!--                        <li class="list-inline-item"><a href="#" class=""><i class="mdi mdi-facebook"></i></a></li>-->
<!--                        <li class="list-inline-item"><a href="#" class=""><i class="mdi mdi-twitter"></i></a></li>-->
<!--                        <li class="list-inline-item"><a href="#" class=""><i class="mdi mdi-whatsapp"></i></a></li>-->
<!--                        <li class="list-inline-item"><a href="#" class=""><i class="mdi mdi-instagram"></i></a></li>-->
<!--                        <li class="list-inline-item"><a href="#" class=""><i class="mdi mdi-linkedin"></i></a></li>-->
<!--                    </ul>-->

<!--                </div>-->
<!--            </div>-->
        </div>
    </div>
</section>
