<app-website-bg-half [props]="breadCrumbs"></app-website-bg-half>

<section class="section pt-5">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="col-lg-8 col-md-7 pt-2">
                <h4 class="font-weight-bold  mb-0">Kindly verify your invoice details.</h4>
                <div class="custom-form rounded border mt-3 p-4">
                    <form>
                        <div class="row">
                            <div class="col-12">
                                <div class="alert alert-dark" role="alert">
                                    <p>You are <strong class="text-uppercase"> A Federal Agency</strong>,
                                        you are paying for <strong>ADMISSION FORMS bill (NIGER STATE POLYTECHNIC
                                            ZUNGERU).</strong>
                                        <span class="d-block mt-2">
                                         Kindly verify your invoice details below.
                                    </span>
                                    </p>
                                </div>
                            </div>

                            <div class="col-lg-12 mt-3">
                                <div class="form-group app-label">
                                    <label class="text-black text-18">
                                        Payer ID
                                        <small style="color:red; font-weight:bolder">*</small>
                                    </label>
                                    <input name="name" id="name" type="text" disabled class="form-control"
                                           value="AD289012" placeholder="">
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group position-relative">
                                            <label>Full Name <span class="text-danger">*</span></label>
                                            <input name="name" type="text" class="form-control"
                                                   placeholder="First Name :">
                                        </div>
                                    </div><!--end col-->
                                    <div class="col-md-6">
                                        <div class="form-group position-relative">
                                            <label>Email Address <span class="text-danger">*</span></label>
                                            <input name="email" id="email" type="email" class="form-control"
                                                   placeholder="Your email :">
                                        </div>
                                    </div><!--end col-->
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group position-relative">
                                            <label>Phone Number <span class="text-danger">*</span></label>
                                            <input name="name" type="text" class="form-control"
                                                   placeholder="Phone Number :">
                                        </div>
                                    </div><!--end col-->
                                    <div class="col-md-6">
                                        <div class="form-group position-relative">
                                            <label>Tin <span class="text-danger">*</span></label>
                                            <input name="phone_number" type="text" class="form-control"
                                                   placeholder="Your Tin :">
                                        </div>
                                    </div><!--end col-->
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group app-label">
                                    <label class="text-black">External Reference Bill?</label>
                                    <input name="email" type="text" class="form-control" placeholder="External Reference :">
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="form-group app-label">
                                    <label class="text-black">Address?</label>
                                    <textarea name="comments" id="comments" rows="1" class="form-control"
                                              placeholder="Your Message :"></textarea>
                                </div>
                            </div>

                            <div class="col-lg-12">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="form-group position-relative">
                                            <label>Amount to pay?</label>
                                        </div>
                                    </div><!--end col-->
                                    <div class="col-md-9">
                                        <div class="form-group position-relative">
                                            <input name="email" type="text" class="form-control"
                                                   placeholder="Enter the amount you wish to pay">
<!--                                            <small>Enter the amount you wish to pay:</small>-->
                                        </div>
                                    </div><!--end col-->
                                </div>
                            </div>

                        </div>
                        <div class="row mt-3">
                            <div class="col-sm-12">
                                <a routerLink="/make-payment" class="btn btn-primary btn-lg w-100">I Have Confirm Invoice Details
                                </a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>
</section>
