/*@import "~@ng-select/ng-select/themes/material.theme.css";*/
@import "~@ng-select/ng-select/themes/default.theme.css";
.text-align-justify{
    text-align: justify;
}
.h-300{
    height: 300px;
}

.text-18{
    font-size: 18px;
}

.text-16{
    font-size: 16px;
}

.text-black{
    font-weight: 600;
    display: block;
    color: #333333;
    font-size: 15px;
}

.ng-select.custom ::ng-deep .ng-select-container  {
    min-height: 0px;
    border-radius: 10px;
}
