<header id="topnav" class="defaultscroll scroll-active">
    <!-- Tagline STart -->
    <div class="tagline">
        <div class="container">
            <div class="float-left">
                <div class="phone">
                    <i class="mdi mdi-phone-classic"></i> +234 800 123 450
                </div>
                <div class="email">
                    <a href="#">
                        <i class="mdi mdi-email"></i> support@cbsmail.com
                    </a>
                </div>
            </div>

            <div class="clearfix"></div>
        </div>
    </div>
    <!-- Tagline End -->

    <!-- Menu Start -->
    <div class="container">
        <!-- Logo container-->
        <div>
            <a [routerLink]="'/'" class="logo">
                <img src="assets/website-assets/images/logo/lagos-state-logo-r.png" alt="" class="logo-light" height="70" />
                <img src="assets/website-assets/images/logo/lagos-state-logo.jpeg" alt="" class="logo-dark" height="60" />
            </a>
        </div>
        <div class="buy-button">
            <a routerLink="/sign-in" class="btn btn-primary">
                Sign In
            </a>
            <a routerLink="/sign-up" class="btn btn-primary ml-2">
               Sign Up
            </a>
            <a routerLink="/admin/" class="btn btn-primary ml-2">
                Dashboard
            </a>
        </div>

        <div class="menu-extras">
            <div class="menu-item">
                <!-- Mobile menu toggle-->
                <a class="navbar-toggle" #anchor (click)="handler()">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </div>
        </div>

        <div id="navigation" [style.display]="isOpen?'block': 'none'" >
            <!-- Navigation Menu-->
            <ul class="navigation-menu">
                <li><a routerLink="/about">About Us</a></li>
                <li class="has-submenu">
                    <a>Payment</a><span class="menu-arrow"></span>
                    <ul class="submenu">
                        <li><a routerLink="/make-payment">Make Payment</a></li>
                        <li><a routerLink="/search-invoice">Search Invoice</a></li>
                        <li><a routerLink="/generate-invoice">Generate Invoice</a></li>
                        <li><a routerLink="/search-receipt">Validate Receipt</a></li>
                    </ul>
                </li>

                <li class="has-submenu">
                    <a href="javascript:void(0)">Tin</a><span class="menu-arrow"></span>
                    <ul class="submenu">
                        <li><a href="#">Generate Tin</a></li>
                        <li><a href="#">Generate State Tin</a></li>
                    </ul>
                </li>

                <li>
                    <a routerLink="/contact">Contact Us</a>
                </li>

            </ul>
        </div>
    </div>
</header>
