
<app-website-bg-half [props]="breadCrumbs"></app-website-bg-half>

<section class="section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5 col-md-4">
                <img src="images/about.jpg" class="img-fluid rounded shadow" alt="">
            </div>

            <div class="col-lg-7 col-md-8">
                <div class="about-desc ml-lg-4">
                    <h4 class="text-dark">About us</h4>
                    <p class="text-muted">Aenean eros et nisl sagittis as vestibulum at Nullam nulla eros ultricies site amet nonummy id imperdiet feugiat pede as Sed lectuse Donec mollis hendrerit Phasellus at nec sem in at pellentesque facilisis at Praesent congue erat at massa Sed sit cursus turpis vitae tortor that a Donec posuere as vulputate arcu Phasellus accumsan velit.</p>
                    <p class="text-muted">Maecenas tempus tellus eget as that condimentum rhoncus sem quam semper libero amete adipiscing sem neque sed ipsum Nam quam nunce blandit at luctus pulvinar hendrerit id lorem Maecenas nec et ante tincidunt tempus.</p>
                    <p class="text-muted">Sed consequat leo eget bibendum sodales augue at velit cursus nunc.</p>
                    <a href="javascript:void(0)" class="btn btn-primary">Apply now</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section bg-light">
    <div class="container">
        <div class="blog-post-counter">
            <div class="row" id="counter">
                <div class="col-md-3 col-6 border-right">
                    <div class="p-4">
                        <div class="blog-post counter-content text-center">
                            <h1 class="counter-value font-weight-light text-dark mb-2" data-count="2030">0</h1>
                            <p class="counter-name text-muted f-15 text-uppercase mb-2">Jobs</p>
                            <i class="mdi mdi-account-multiple h3 text-muted"></i>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-6 border-right">
                    <div class="p-4">
                        <div class="blog-post counter-content text-center">
                            <h1 class="counter-value font-weight-light text-dark mb-2" data-count="3500">0</h1>
                            <p class="counter-name text-muted f-15 text-uppercase mb-2">Applications</p>
                            <i class="mdi mdi-file h3 text-muted"></i>
                        </div>
                    </div>
                </div>

                <div class="col-md-3 col-6 border-right">
                    <div class="p-4">
                        <div class="blog-post counter-content text-center">
                            <h1 class="counter-value font-weight-light text-dark mb-2" data-count="1250">0</h1>
                            <p class="counter-name text-muted f-15 text-uppercase mb-2">Companies</p>
                            <i class="mdi mdi-bank h3 text-muted"></i>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-6">
                    <div class="p-4">
                        <div class="blog-post counter-content text-center">
                            <h1 class="counter-value font-weight-light text-dark mb-2" data-count="4000">0</h1>
                            <p class="counter-name text-muted f-15 text-uppercase mb-2">Employers</p>
                            <i class="mdi mdi-account-group h3 text-muted"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <h4 class="text-dark font-weight-">Company Testimonial</h4>
                <div class="blog-post-border mt-3 mb-3"></div>
                <h5 class="text-muted mb-1">Themes code Pvt.Ltd</h5>
                <p class="mb-4 f-16"><a href="#" class="text-muted"><i class="mdi mdi-earth mr-2"></i>Themescodeltd.co.in</a></p>
                <p class="text-muted f-14">Maecenas tempus tellus et condimentum that as rhoncus sem quam semper adipiscing sem neque sed ipsum Nam quam nunc blandit at luctus at id lorem maecenas nec odio et ante tincidunt tempus Donec vitae venenatis faucibus quis ante.</p>
                <div class="job-details-desc-item">
                    <div class="float-left mr-3">
                        <i class="mdi mdi-minus text-muted f-16"></i>
                    </div>
                    <p class="text-muted f-14 mb-1">Aenean leo ligula porttitor eu consequat eleifend enim.</p>
                </div>
                <div class="job-details-desc-item">
                    <div class="float-left mr-3">
                        <i class="mdi mdi-minus text-muted f-16"></i>
                    </div>
                    <p class="text-muted f-14 mb-1">Quisque rutrum Aenean imperdiet nisi vel augue.</p>
                </div>
                <div class="job-details-desc-item mb-4">
                    <div class="float-left mr-3">
                        <i class="mdi mdi-minus text-muted f-16"></i>
                    </div>
                    <p class="text-muted f-14 mb-1">Maecenas tempus tellus sem semper libero.</p>
                </div>


                <ul class="list-inline pt-4 border-top mb-4">
                    <li class="list-inline-item">
                        <a href="#" class="btn btn-primary-outline">Learn More</a>
                    </li>
                    <li class="list-inline-item float-right mt-2">
                        <ul class="list-inline bolg-post-icon mb-0">
                            <li class="list-inline-item f-20"><a href="#" class=""><i class="mdi mdi-facebook"></i></a></li>
                            <li class="list-inline-item f-20"><a href="#" class=""><i class="mdi mdi-twitter"></i></a></li>
                            <li class="list-inline-item f-20"><a href="#" class=""><i class="mdi mdi-whatsapp"></i></a></li>
                            <li class="list-inline-item f-20"><a href="#" class=""><i class="mdi mdi-instagram"></i></a></li>
                        </ul>
                    </li>
                </ul>
            </div>

            <div class="col-lg-7">
                <div class="blog-post-testi">
                    <div class="row align-items-center">
                        <div class="col-md-3 col-4">
                            <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                                <a class="nav-link about-us active" id="v-pills-home-tab" data-toggle="pill" href="#v-pills-home" role="tab" aria-controls="v-pills-home" aria-selected="true">
                                    <div class="blog-post-testi-img">
                                        <img src="images/blog/img-7.jpg" alt="" class="img-fluid mx-auto d-block rounded">
                                        <div class="blog-post-overlay">
                                            <div class="blog-post-testi-icon text-center">
                                                <i class="mdi mdi-plus-circle-outline text-white h4"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                                <a class="nav-link about-us" id="v-pills-profile-tab" data-toggle="pill" href="#v-pills-profile" role="tab" aria-controls="v-pills-profile" aria-selected="false">
                                    <div class="blog-post-testi-img">
                                        <img src="images/blog/img-8.jpg" alt="" class="img-fluid mx-auto d-block rounded">
                                        <div class="blog-post-overlay">
                                            <div class="blog-post-testi-icon text-center">
                                                <i class="mdi mdi-plus-circle-outline text-white h4"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                                <a class="nav-link about-us" id="v-pills-messages-tab" data-toggle="pill" href="#v-pills-messages" role="tab" aria-controls="v-pills-messages" aria-selected="false">
                                    <div class="blog-post-testi-img">
                                        <img src="images/blog/img-9.jpg" alt="" class="img-fluid mx-auto d-block rounded">
                                        <div class="blog-post-overlay">
                                            <div class="blog-post-testi-icon text-center">
                                                <i class="mdi mdi-plus-circle-outline text-white h4"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                                <a class="nav-link about-us" id="v-pills-settings-tab" data-toggle="pill" href="#v-pills-settings" role="tab" aria-controls="v-pills-settings" aria-selected="false">
                                    <div class="blog-post-testi-img">
                                        <img src="images/blog/img-10.jpg" alt="" class="img-fluid mx-auto d-block rounded">
                                        <div class="blog-post-overlay">
                                            <div class="blog-post-testi-icon text-center">
                                                <i class="mdi mdi-plus-circle-outline text-white h4"></i>
                                            </div>
                                        </div>
                                    </div>
                                </a>

                            </div>
                        </div>
                        <div class="col-md-9 col-8">
                            <div class="tab-content" id="v-pills-tabContent">
                                <div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">
                                    <div>
                                        <img src="images/blog/img-7.jpg" alt="" class="img-fluid mx-auto d-block rounded">
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab">
                                    <div>
                                        <img src="images/blog/img-8.jpg" alt="" class="img-fluid mx-auto d-block rounded">
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="v-pills-messages" role="tabpanel" aria-labelledby="v-pills-messages-tab">
                                    <div>
                                        <img src="images/blog/img-9.jpg" alt="" class="img-fluid mx-auto d-block rounded">
                                    </div>
                                </div>

                                <div class="tab-pane fade" id="v-pills-settings" role="tabpanel" aria-labelledby="v-pills-settings-tab">
                                    <div>
                                        <img src="images/blog/img-10.jpg" alt="" class="img-fluid mx-auto d-block rounded">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section pb-0" style="background: url('images/counter-bg.jpg') center center;">
    <div class="bg-overlay"></div>
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6 order-md-1 order-2">
                <div class="job-about-app-img mt-40">
                    <img src="images/app-download-img.png" alt="" class="img-fluid mx-auto d-block">
                </div>
            </div>

            <div class="col-md-6 order-md-2 order-1">
                <div class="app-about-content">
                    <div class="app-about-desc text-white">
                        <h4 class="text-white mb-3">Get Job App For Your Mobile</h4>
                        <p class="font-weight-light text-white-50">Etiam ultricies nisi vel that augue Curabitur ullamcorper ultricies adipiscing Nam at Etiam rhoncus Maecenas tempus tellus rhoncus ultricies eget condimentum rhoncus massa Sed cursus semquam.</p>
                        <ul class="list-unstyled mb-0">
                            <li class="list-inline-item"><a href="javascript:void(0)"><img src="images/apple.png" class="mt-2" height="60" alt=""></a></li>
                            <li class="list-inline-item"><a href="javascript:void(0)"><img src="images/google.png" class="mt-2" height="60" alt=""></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12">
                <div class="section-title text-center mb-4 pb-2">
                    <h4 class="title title-line pb-5">Our Client's</h4>
                    <p class="text-muted para-desc mx-auto mb-1">Post a job to tell us about your project. We'll quickly match you with the right freelancers.</p>
                </div>
            </div>
        </div>

        <div class="row align-items-center">
            <div class="col-lg-2 col-md-4 col-6 mt-4 pt-2 text-center">
                <img src="images/clients/1.png" height="50" alt="">
            </div><!--end col-->
            <div class="col-lg-2 col-md-4 col-6 mt-4 pt-2 text-center">
                <img src="images/clients/2.png" height="50" alt="">
            </div><!--end col-->
            <div class="col-lg-2 col-md-4 col-6 mt-4 pt-2 text-center">
                <img src="images/clients/3.png" height="50" alt="">
            </div><!--end col-->
            <div class="col-lg-2 col-md-4 col-6 mt-4 pt-2 text-center">
                <img src="images/clients/4.png" height="50" alt="">
            </div><!--end col-->
            <div class="col-lg-2 col-md-4 col-6 mt-4 pt-2 text-center">
                <img src="images/clients/1.png" height="50" alt="">
            </div><!--end col-->
            <div class="col-lg-2 col-md-4 col-6 mt-4 pt-2 text-center">
                <img src="images/clients/2.png" height="50" alt="">
            </div><!--end col-->
        </div>
    </div>
</section>

<section class="section bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-5">
                <div class="float-left position-relative notification-icon mr-2">
                    <i class="mdi mdi-bell-outline text-primary"></i>
                    <span class="badge badge-pill badge-danger">1</span>
                </div>
                <h5 class="mt-2 mb-0">Your Job Notification</h5>
            </div>
            <div class="col-lg-8 col-md-7 mt-4 mt-sm-0">
                <form>
                    <div class="form-group mb-0">
                        <div class="input-group mb-0">
                            <input name="email" id="email" type="email" class="form-control" placeholder="Your email :" required="" aria-describedby="newssubscribebtn">
                            <div class="input-group-append">
                                <button class="btn btn-primary submitBnt" type="submit" id="newssubscribebtn">Subscribe</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
